@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.Editor {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
  
  div{
    display: flex;
    flex-direction: row;
    margin-left: 1em;
  }

  .active {
    border-bottom: none;
    background: #ffe8c9;
    margin: 0px 5px;
    padding: .7em 1.2em;
    max-width: 6em;
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    letter-spacing: 0.3px;
    word-spacing: 1px;
    clip-path: polygon(10% 0%, 90% 0%, 100% 115%, 0% 115%);
    outline: none;
    border: none;
  }

  .deleteButton{
    border: transparent;
    border-radius: 50%;
    background: none;
    margin-left: .7em; 
    margin-right: -.3em;
    font-size: .8em;
    padding-bottom: .4em; 
  }
  
  .deleteButton:hover{
    background: black;
    color: white;
  }

  .active:focus {
    outline: none;
  }

  .tab {
    margin: 0px 5px;
    padding: .7em 1.2em;
    background: #edd4b3;
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    letter-spacing: 0.3px;
    word-spacing: 1px;
    clip-path: polygon(10% 0%, 90% 0%, 100% 115%, 0% 115%);
    border-top-left-radius: 10%;
    max-width: 6em;
    outline: none;
    border: none;
  }

  .addTab {
    margin: 0px 5px;
    padding: .4em .7em .5em .7em;
    background: pink;
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.25em;
    letter-spacing: 0.3px;
    word-spacing: 1px;
    clip-path: circle(40%); 
    max-width: 3em;
  }

  textarea {
    padding: 2em;
    width: 50vw;
    height: 78.5%;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
    line-height: 1.5;
    background: #ffe8c9;
    letter-spacing: 0.3px;
    word-spacing: 1px;
    border: none;
  }

  textarea:focus {
    outline: none;
  }
}
