@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.Editor {
  display: flex;
  flex-direction: column;

  div{
    display: flex;
    flex-direction: row;
  }

  .active {
    border-bottom: none;
    background: #272822;
    margin: 0px 5px;
    padding: .3em 1.2em;
    max-width: 6em;
    color: #F8F8F2;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
    letter-spacing: 0.3px;
    word-spacing: 1px;
    clip-path: polygon(10% 0%, 90% 0%, 100% 110%, 0% 110%);
  }

  .tabButton {
    margin: 0px 5px;
    padding: .5em 1.2em;
    background: #4c4d48;
    color: #F8F8F2;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
    letter-spacing: 0.3px;
    word-spacing: 1px;
    clip-path: polygon(10% 0%, 90% 0%, 100% 110%, 0% 110%);
    border-top-left-radius: 10%;
    max-width: 6em;
  }

  .addTab {
    margin: 0px 5px;
    padding: .4em .7em .5em .7em;
    background: #272822;
    color: #F8F8F2;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
    letter-spacing: 0.3px;
    word-spacing: 1px;
    clip-path: circle(40%); 
    max-width: 3em;
  }

  textarea {
    padding: 1em;
    width: 50vw;
    height: 100vh;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
    line-height: 1.5;
    background: #272822;
    color: #F8F8F2;
    letter-spacing: 0.3px;
    word-spacing: 1px;
    border: none;
  }

  textarea:focus {
    outline: none;
  }
}
